@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

.scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.0);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 100, 1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#loading-cover {
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#load-image {
    width: 250px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 150px);
    
}

.loader {
    border: 2px solid white;
    border-radius: 50%;
    border-top: 2px solid rgba(120, 120, 120, 1);
    border-right: 2px solid rgba(120, 120, 120, 1);
    border-left: 2px solid rgba(120, 120, 120, 1);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    top: 50px;
    display: block;
    width: 100%;
    background-color: transparent;
}

#small-logo {
    width: 35px;
    left: 6px;
    position: absolute;
    top: 9px;
    display: none;
}

.social {
    width: 22px;
    right: 0px;
    position: absolute;
    bottom: 11px;
}

#big-logo {
    width: 300px;
    left: calc(50% - 150px);
    position: absolute;
    top: 20px;
}

#mobile-logo {
    width: 140px;
    left: 5px;
    position: absolute;
    top: 9px;
}

#mobile-open-menu {
    width: 30px;
    left: calc(50% - 15px);
    position: absolute;
    bottom: 3px;
}

#mobile-close-menu {
    width: 30px;
    left: calc(50% - 15px);
    position: absolute;
    bottom: 3px;
    display: none;
}

#nav-container {
    padding: 0px;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    width: 100%;
    height: 150px;
    display: block;
    overflow: hidden;
}


#nav {
    position: absolute;
    left: calc(50% - 317px);
    padding: 0px;
    margin: 0px;
    bottom: 0px;
}


#mobile-nav {
    top: -250px;
    height: 250px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
    position: fixed;
}

#mobile-nav li {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    padding: 0px 15px 0px 15px;
}

#mobile-nav ul {
    margin: 0px;
    padding: 0px;
}



#nav li {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    float: left;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

#nav ul {
    margin: 0px;
    padding: 0px;
}



#nav-container h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: rgba(120, 120, 120, 1);
}

.mobile-image {
    width: 100%;
}


#content {
    position: relative;
}

.segment {
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#home {

    height: 100vh;
    background: transparent;
}

.heading-box {
    position: absolute;
    width: 900px;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    padding: 20px;
    float: left;
    left: calc(50% - 450px);
}


.heading-box h1 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    color: rgba(80, 80, 80, 1);
}

.heading-box h2 {
    position: relative;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    color: rgba(80, 80, 80, 1);
    margin-top: -15px;
}

@media screen and (max-height: 800px),
(max-width: 900px) {
    .heading-box {
        position: absolute;
        top: 200px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0px;
        width: 100%;
        left: 0%;
    }

    .heading-box h1 {
        position: relative;
        font-family: 'Lora', serif;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        color: rgba(80, 80, 80, 1);
    }

    .heading-box h2 {
        position: relative;
        font-family: 'Lora', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        color: rgba(80, 80, 80, 1);
        margin-top: -15px;
    }

}



.box {
    position: relative;
    display: inline-block;
    width: 800px;
    left: calc(50% - 400px);
}

.box-1 {
    width: 300px;
    float: left;
    padding: 20px 25px 50px 0px;
}

.box-2 {
    width: 500px;
    padding: 20px 0px 50px 25px;
}

.box-3 {
    width: 150px;
    padding: 20px 0px 50px 50px;
}

.box-mobile {
    width: 100%;
    padding: 20px 25px 50px 25px;
}

.box h1 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
    color: rgba(20, 20, 20, 1);
    text-transform: uppercase;
}

.box h2 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: rgba(75, 75, 75, 1);
    text-transform: uppercase;
}

.box h3 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: rgba(80, 80, 80, 1);
    line-height: 12px;
}

.box p {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: rgba(80, 80, 80, 1);
    line-height: 24px;
}

.box ul {
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}

.box ul p {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: rgba(80, 80, 80, 1);

}



.banner {
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

.banner h1 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    line-height: 100px;
    padding-left: 0px;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.banner ul li {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    line-height: 30px;
    padding-left: 0px;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#nav li.active a h3 {
    color: black;
}

#mobile-nav li.active a h3 {
    color: black;
}


td {
    vertical-align: top;
}

#testimonial-controller {
    width: 140px;
    position: absolute;
    left: calc(50% - 70px);
    height: 20px;
    bottom: 100px;
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 1000px) {

    .social {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: block;
    }

    .box {
        left: 0px;
        width: 100%;
    }

    #nav-container {
        height: 50px !important;
    }


}

@media screen and (max-width: 400px) {
    #testimonial-header {
        font-size: 35px;
    }

}
@media screen and (max-width: 500px) {
    #testimonial-header {
        font-size: 40px;
    }

}
