<meta name="viewport"content="width=device-width, initial-scale=1" > .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    background-color: #C5C5C5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    height: 2000px;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    display: block;
    width: calc(100vw - 300px);
    background-color: transparent;
}

#nav-container {

    padding-top: 40px;
    position: fixed;
    background-color: #f8f8f8;
}


#nav {
    margin-top: 100px;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

#nav-container h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
    text-align: left;
    color: rgba(20, 20, 20, 1);
    margin-left: 20px;
    line-height: 10px;
}

#nav-container h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    color: rgba(0, 0, 0, 1);
    margin-right: 35px;
    line-height: 7px;
}

#nav-container h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    padding-right: 35px;
    color: rgba(120, 120, 120, 1);
}



#content {
    left: 300px;
    position: absolute;
}

.segment {
    width: 100%;
    position: relative;
    min-height: 100px;
}

#home {

    height: 100vh;
    background: transparent;
}


.heading-box {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 30%;
}

.heading-box h1 {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.heading-box h2 {
    position: relative;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: -10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.box-left {
    width: 200px;
    float: left;
    padding: 20px 25px 50px 0px;
}

.box-right {
    width: 500px;
    padding: 20px 0px 50px 25px;
}

.box h1 {
    position: relative;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: left;
    color: rgba(20, 20, 20, 1);
}

.box p {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: rgba(80, 80, 80, 1);
}

.banner {
    position: relative;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner h1 {
    position: relative;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    line-height: 100px;
    padding-left: 0px;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.banner ul li {
    position: relative;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    line-height: 30px;
    padding-left: 0px;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}



h3,
h3:visited {
    text-decoration: none;
    position: relative;
    color: rgba(120, 120, 120, 1);
}

h3:after,
h3:visited:after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: -1;
    left: 0;
    width: 0%;
    background: rgba(120, 120, 120, 0.7);
    transition: 0.4s;
}

h3:hover:after,
h3:visited:hover:after {
    width: 265px;
}

h3.block,
h3:visited.block {
    display: block;
    padding: 0.5em;
}

h3.block:hover,
h3:visited.block:hover {
    background: rgba(120, 120, 120, 1);
}

#nav ul li.active a h3 {
    color: rgba(80, 80, 80, 1);
}

#nav ul li.active a h3:after {
    width: 265px;
    background: rgba(80, 80, 80, 1);
}
